<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title><%= title %></title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    <!-- Vendor styles -->
    <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="vendor/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />

    <!-- App styles -->
    <link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="stylesheets/d3style.css">
    <link rel="stylesheet" href="stylesheets/dc.css">

</head>
<body>

<!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>flowOpt </h1><img src="images/loading-bars.svg" width="64" height="64" /> </div> </div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Header -->
<div id="header">
    <div class="color-line">
    </div>
    <div id="logo" class="light-version">
        <span>
            flowOpt
        </span>
    </div>
    <nav role="navigation">
        <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
        <div class="small-logo">
            <span class="text-primary">flowOpt</span>
        </div>
        <form role="search" class="navbar-form-custom" method="post" action="#">
            <div class="form-group">
                <input type="text" placeholder="Search..." class="form-control" name="search">
            </div>
        </form>
        <div class="mobile-menu">
            <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
                <i class="fa fa-chevron-down"></i>
            </button>
            <div class="collapse mobile-navbar" id="mobile-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="" href="/login">Login</a>
                    </li>
                    <li>
                        <a class="" href="/login">Logout</a>
                    </li>
                    <li>
                        <a class="" href="profile.html">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav no-borders">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="pe-7s-speaker"></i>
                    </a>
                    <ul class="dropdown-menu hdropdown notification animated flipInX">
                        <li>
                            <a>
                                <span class="label label-success">NEW</span> It is a long established.
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="label label-warning">WAR</span> There are many variations.
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="label label-danger">ERR</span> Contrary to popular belief.
                            </a>
                        </li>
                        <li class="summary"><a href="#">See all notifications</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="pe-7s-keypad"></i>
                    </a>

                    <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="projects.html">
                                        <i class="pe pe-7s-portfolio text-info"></i>
                                        <h5>Projects</h5>
                                    </a>
                                </td>
                                <!--<td>-->
                                <!--<a href="mailbox.html">-->
                                <!--<i class="pe pe-7s-mail text-warning"></i>-->
                                <!--<h5>Email</h5>-->
                                <!--</a>-->
                                <!--</td>-->
                                <!--<td>-->
                                <!--<a href="contacts.html">-->
                                <!--<i class="pe pe-7s-users text-success"></i>-->
                                <!--<h5>Contacts</h5>-->
                                <!--</a>-->
                                <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                <!--<td>-->
                                <!--<a href="forum.html">-->
                                <!--<i class="pe pe-7s-comment text-info"></i>-->
                                <!--<h5>Forum</h5>-->
                                <!--</a>-->
                                <!--</td>-->
                                <td>
                                    <a href="analytics.html">
                                        <i class="pe pe-7s-graph1 text-danger"></i>
                                        <h5>Analytics</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="file_manager.html">
                                        <i class="pe pe-7s-box1 text-success"></i>
                                        <h5>Files</h5>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                        <i class="pe-7s-mail"></i>
                        <!--<span class="label label-success">4</span>-->
                    </a>
                    <ul class="dropdown-menu hdropdown animated flipInX">
                        <div class="title">
                            You have no new messages
                        </div>
                        <!--<li>-->
                        <!--<a>-->
                        <!--It is a long established.-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a>-->
                        <!--There are many variations.-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a>-->
                        <!--Lorem Ipsum is simply dummy.-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a>-->
                        <!--Contrary to popular belief.-->
                        <!--</a>-->
                        <!--</li>-->
                        <li class="summary"><a href="#">See All Messages</a></li>
                    </ul>
                </li>
                <!--<li>-->
                <!--<a href="#" id="sidebar" class="right-sidebar-toggle">-->
                <!--<i class="pe-7s-upload pe-7s-news-paper"></i>-->
                <!--</a>-->
                <!--</li>-->
                <li class="dropdown">
                    <a href="/login">
                        <i class="pe-7s-upload pe-rotate-90"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Navigation -->
<aside id="menu">
    <div id="navigation">
        <!--<div class="profile-picture">-->
        <!--<a href="index.html">-->
        <!--<img src="images/profile.jpg" class="img-circle m-b" alt="logo">-->
        <!--</a>-->
        <div class="stats-label text-color">
        <% if (user.emailUser) { %>




        </div>
        <div class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <span class="font-extra-bold font-uppercase"><%= user.emailUser %><b class="caret"></b></span>
        </a>
            <%}%>
        <ul class="dropdown-menu animated fadeInTop m-t-xs">

        <li><a href="/logout">Logout</a></li>
        </ul>
        </div>


        <!--<div id="sparkline1" class="small-chart m-t-sm"></div>-->
        <!--<div>-->
        <!--<h4 class="font-extra-bold m-b-xs">-->
        <!--$260 104,200-->
        <!--</h4>-->
        <!--<small class="text-muted">Your income from the last year in sales product X.</small>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <ul class="nav" id="side-menu">
            <li class="active">
                <a href="/analytics"> <span class="nav-label">Analytics</span> <span class="label label-success pull-right">v.1</span> </a>
            </li>
            <li>
                <a href="#"> <span class="nav-label">Dashboard</span><span class="label label-warning pull-right">NEW</span> </a>
            </li>
            <li>
                <a href="#"><span class="nav-label">Drop Down</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </li>

        </ul>
    </div>
</aside>

<!-- Main Wrapper -->
<div id="wrapper">

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12 text-center m-t-md">
                <h2>
                    Analytics
                </h2>

                <p>
                    <a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">

                        Events by Wait time (minutes)

                    </div>
                    <div class="panel-body" >
                        <div class="row">
                            <div class="col-md-12 text-center" id="dc-depth-chart">

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                    <span class="pull-right">
                         <a href="javascript:depthChart.filterAll(); dc.renderAll();"class="reset" id="resetAll"style="display: none;">reset</a>

                    </span>
                        Last update: 21.05.2015
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">

                        Events by Month (2010-2014)
                        <a href="javascript:timeChart.filterAll();dc.redrawAll();" class="reset" style="display: none;">reset</a>
                    </div>
                    <div class="panel-body" >
                        <div class="row">
                            <div class="col-md-12 text-center" id="dc-time-chart">

                            </div>
                            <div class="col-md-12 text-center" id='monthly-move-chart'>

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                    <span class="pull-right">
                          <a href="javascript:timeChart.filterAll();dc.redrawAll();" class="reset" style="display: none;">reset</a>
                    </span>
                        Last update: 21.05.2015
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="hpanel">
                    <div class="panel-heading">

                        Patient Acuity
                        <a href="javascript:islandChart.filterAll();dc.redrawAll();" class="reset" style="display: none;">reset</a>
                    </div>
                    <div class="panel-body text-center h-200" id="dc-acuityPie-chart">

                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="hpanel">
                    <div class="panel-heading">

                        Day of the Week
                        <a href="javascript:dayOfWeekChart.filterAll();dc.redrawAll();" class="reset" style="display: none;">reset</a>
                    </div>
                    <div class="panel-body text-center h-200" id="dc-dayweek-chart">

                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="hpanel">
                    <div class="panel-heading">

                        Disposition Breakdown
                        <a href="javascript:acuityChart.filterAll();dc.redrawAll();" class="reset" style="display: none;">reset</a>
                    </div>
                    <div class="panel-body text-center h-200" id="dc-acuity-chart">

                    </div>

                </div>
            </div>

        </div>
        <h3><a href="#" id="exportData">Export All</a></h3>
        <div class="row">

            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">

                    </div>
                    <!--<div class="panel-body list" >-->
                        <!--<div class="table-responsive" >-->
                            <!--<table class="table table-striped" id="dc-table-graph">-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>Acuity Type</th>-->
                                    <!--<th>Wait time</th>-->
                                    <!--<th>Hour</th>-->
                                    <!--<th>Day of Week</th>-->
                                    <!--<th>Year</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
    </div>

    <!-- Right sidebar -->
    <!--<div id="right-sidebar" class="animated fadeInRight">-->

    <!--<div class="p-m">-->
    <!--<button id="sidebar-close" class="right-sidebar-toggle sidebar-button btn btn-default m-b-md"><i class="pe pe-7s-close"></i>-->
    <!--</button>-->
    <!--<div>-->
    <!--<span class="font-bold no-margins"> Analytics </span>-->
    <!--<br>-->
    <!--<small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>-->
    <!--</div>-->
    <!--<div class="row m-t-sm m-b-sm">-->
    <!--<div class="col-lg-6">-->
    <!--<h3 class="no-margins font-extra-bold text-success">300,102</h3>-->

    <!--<div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>-->
    <!--</div>-->
    <!--<div class="col-lg-6">-->
    <!--<h3 class="no-margins font-extra-bold text-success">280,200</h3>-->

    <!--<div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="progress m-t-xs full progress-small">-->
    <!--<div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar"-->
    <!--class=" progress-bar progress-bar-success">-->
    <!--<span class="sr-only">35% Complete (success)</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="p-m bg-light border-bottom border-top">-->
    <!--<span class="font-bold no-margins"> Social talks </span>-->
    <!--<br>-->
    <!--<small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>-->
    <!--<div class="m-t-md">-->
    <!--<div class="social-talk">-->
    <!--<div class="media social-profile clearfix">-->
    <!--<a class="pull-left">-->
    <!--<img src="images/a1.jpg" alt="profile-picture">-->
    <!--</a>-->

    <!--<div class="media-body">-->
    <!--<span class="font-bold">John Novak</span>-->
    <!--<small class="text-muted">21.03.2015</small>-->
    <!--<div class="social-content small">-->
    <!--Injected humour, or randomised words which don't look even slightly believable.-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="social-talk">-->
    <!--<div class="media social-profile clearfix">-->
    <!--<a class="pull-left">-->
    <!--<img src="images/a3.jpg" alt="profile-picture">-->
    <!--</a>-->

    <!--<div class="media-body">-->
    <!--<span class="font-bold">Mark Smith</span>-->
    <!--<small class="text-muted">14.04.2015</small>-->
    <!--<div class="social-content">-->
    <!--Many desktop publishing packages and web page editors.-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="social-talk">-->
    <!--<div class="media social-profile clearfix">-->
    <!--<a class="pull-left">-->
    <!--<img src="images/a4.jpg" alt="profile-picture">-->
    <!--</a>-->

    <!--<div class="media-body">-->
    <!--<span class="font-bold">Marica Morgan</span>-->
    <!--<small class="text-muted">21.03.2015</small>-->

    <!--<div class="social-content">-->
    <!--There are many variations of passages of Lorem Ipsum available, but the majority have-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="p-m">-->
    <!--<span class="font-bold no-margins"> Sales in last week </span>-->
    <!--<div class="m-t-xs">-->
    <!--<div class="row">-->
    <!--<div class="col-xs-6">-->
    <!--<small>Today</small>-->
    <!--<h4 class="m-t-xs">$170,20 <i class="fa fa-level-up text-success"></i></h4>-->
    <!--</div>-->
    <!--<div class="col-xs-6">-->
    <!--<small>Last week</small>-->
    <!--<h4 class="m-t-xs">$580,90 <i class="fa fa-level-up text-success"></i></h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-xs-6">-->
    <!--<small>Today</small>-->
    <!--<h4 class="m-t-xs">$620,20 <i class="fa fa-level-up text-success"></i></h4>-->
    <!--</div>-->
    <!--<div class="col-xs-6">-->
    <!--<small>Last week</small>-->
    <!--<h4 class="m-t-xs">$140,70 <i class="fa fa-level-up text-success"></i></h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.-->
    <!--Many desktop publishing packages and web page editors.-->
    <!--</small>-->
    <!--</div>-->

    <!--</div>-->

    <!-- Footer-->
    <footer class="footer">
        <span class="pull-right">
            Optimizing your workflows.
        </span>
        flowOpt 2015
    </footer>

</div>

<!-- Vendor scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="vendor/jquery-flot/jquery.flot.js"></script>-->
<!--<script src="vendor/jquery-flot/jquery.flot.resize.js"></script>-->
<!--<script src="vendor/jquery-flot/jquery.flot.pie.js"></script>-->
<!--<script src="vendor/flot.curvedlines/curvedLines.js"></script>-->
<!--<script src="vendor/jquery.flot.spline/index.js"></script>-->
<script src="vendor/metisMenu/dist/metisMenu.min.js"></script>
<!--<script src="vendor/iCheck/icheck.min.js"></script>-->
<!--<script src="vendor/peity/jquery.peity.min.js"></script>-->
<!--<script src="vendor/sparkline/index.js"></script>-->

<!-- App scripts -->
<script src="scripts/homer.js"></script>
<script src="scripts/charts.js"></script>
<script src="javascripts/download.js"></script>
<script src="javascripts/d3.min.js"></script>
<script src="javascripts/crossfilter.js"></script>
<script src="javascripts/dc.js"></script>
<script src="javascripts/dcTest.js"></script>
<script>
    $("#resetAll").click(
            (function(){
                $("#monthly-move-chart>svg>g>g.y").attr("visibility","hidden");
            }));
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-4625583-2', 'webapplayers.com');
    ga('send', 'pageview');

</script>

</body>
</html>