doctype html
html(lang='en')
    block link
        -var selected = 'dashboard'; //default

    -var menu = { 'Overview': ['/dashboard','fa fa-tachometer fa-2x'], 'Reports': ['/acuity','fa fa-clipboard fa-2x'], 'React Test': ['/react','fa fa-usermd fa-2x'], 'CrossFilter':['/dcTest','fa fa-bar-chart fa-2x'] }
    head
        meta(charset='utf-8')

        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title= title
        // Bootstrap core CSS
        link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
        // Custom styles for this template
        link(href='stylesheets/dashboard.css', rel='stylesheet')
        link(href='stylesheets/d3style.css', rel='stylesheet')
        link(href='stylesheets/dc.css', rel='stylesheet')
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet")
        // Just for debugging purposes. Don't actually copy these 2 lines!
        // [if lt IE 9] <!
        // <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body
        nav.navbar.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') flowOpt Demo
                #navbar.navbar-collapse.collapse
                    //ul.nav.navbar-nav.navbar-right
                    //    li
                    //        a(href='#') Help
                    //form.navbar-form.navbar-right
                    //    input.form-control(type='text', placeholder='Search...')
        .container-fluid
            .row
                .col-sm-2.col-md-2.col-lg-2.sidebar.col-xs-1
                    ul.nav.nav-sidebar
                        each val, key in menu
                            div.menuIcon
                                li(class=key)
                                    if selected === key
                                        p
                                        | &nbsp;
                                        i(class=val[1])
                                        strong
                                            a.style(line-height=inherit).selected(href=val[0], title="&nbsp;&nbsp;&nbsp;  "+key)
                                            |   &nbsp;&nbsp;&nbsp;&nbsp; #{key}
                                        span.sr-only(val[0]).hidden-lg
                                        br
                                        br
                                    else
                                        i(class=val[1])
                                        a.style(line-height=inherit)(class=key+" active",href=val[0], title="&nbsp;&nbsp;&nbsp;  "+key)
                                            | &nbsp;&nbsp;&nbsp;&nbsp;   #{key}
                                        br
                                        br

                block content


    block scripts













