extends dashboardLayout
block link
    -var selected= 'Overview'
block content
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        h1.page-header Dashboard
        .row.placeholders
            .col-xs-6.col-sm-3.placeholder
                img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
                h4 Label
                span.text-muted Something else
            .col-xs-6.col-sm-3.placeholder
                img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
                h4 Label
                span.text-muted Something else
            .col-xs-6.col-sm-3.placeholder
                img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
                h4 Label
                span.text-muted Something else
            .col-xs-6.col-sm-3.placeholder
                img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
                h4 Label
                span.text-muted Something else
        h2.sub-header= chartTitle

        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th Hour
                        th Acuity 1
                        th Acuity 2
                        th Acuity 3
                        th Acuity 4
                        th Acuity 5
                tbody
block scripts
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
    // Just to make our placeholder images work. Don't actually copy the next line!
    // <script src="javascripts/vendor/holder.min.js"></script>
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='javascripts/ie10-viewport-bug-workaround.js')
    script.
        $('li.Overview').addClass("active");