extends dashboardLayout
block link
    -var selected= 'CrossFilter'
block content
    .col-sm-10.col-sm-offset-3.col-md-10.col-md-offset-2.main
        .row.placeholders
            .col-xs-6.col-sm-3.placeholder
            .dc-data-count(style='float: left;')
              h2
                | Hospital Wait Times vs Patient Acuity Types
                span
                  span.filter-count
                  |          selected out of 
                  span.total-count
                  |          records 
                  a(href='javascript:dc.filterAll(); dc.renderAll();') Reset All
            .row
              #dc-depth-chart.span12
                h4
                  | Events by Wait Time (minutes)
                  span
                    a.reset(href='javascript:depthChart.filterAll();dc.redrawAll();', style='display: none;')
                      | reset
            .row
              #dc-time-chart.span12
                h4
                  | Events by Month (2010-2014)
                  span
                    a.reset(href='javascript:timeChart.filterAll();dc.redrawAll();', style='display: none;')
                      | reset
            .row
              #dc-acuityPie-chart.span4
                h4
                  | Patient Acuity Types
                  span
                    a.reset(href='javascript:islandChart.filterAll();dc.redrawAll();', style='display: none;')
                      | reset
              #dc-dayweek-chart.span3
                h4
                  | Day of the Week
                  span
                    a.reset(href='javascript:dayOfWeekChart.filterAll();dc.redrawAll();', style='display: none;')
                      | reset
                .clearfix
              #dc-acuity-chart.span4.pull-left
                h4
                  | Disposition Breakdown
                  span
                    a.reset(href='javascript:acuityChart.filterAll();dc.redrawAll();', style='display: none;')
                      | reset
            .row
            table#dc-table-graph.table.table-hover.table-striped
                thead
                    tr.header
                      th Acuity Type
                      th Wait Time
                      th Hour
                      th Day of Week
                      th Year
block scripts
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='javascripts/d3.min.js')
    script(src='javascripts/crossfilter.js')
    script(src='javascripts/dc.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/dcTest.js')
    script(src='static/bundle.js')
    // Just to make our placeholder images work. Don't actually copy the next line!
    // <script src="javascripts/vendor/holder.min.js"></script>
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='javascripts/ie10-viewport-bug-workaround.js')
    script.
        $('li.CrossFilter').addClass("active");