
g.bar > rect {
      fill: steelblue;
      shape-rendering: crispEdges;
    }
g.bar > text {
      fill: #fff;
      font: 12px sans-serif;
    }

g.axis > path,line{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

g.axis > text {
    font: 10px sans-serif;
}